<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    
    
    <!-- have a button POST a click via AJAX -->
    <button hx-get="example.html" hx-swap="outerHTML ">
      Click Me
    </button>
    <div hx-get="example.html" hx-trigger="load">sds</div>
    <div hx-get="example.html" >Get Some hjlfxjb</div>

</body>
</html>